*{
    margin:0;
    padding:0;
    font-family:roboto;
}

.world {
    display: flex;
    justify-content: center;
    background-color:black;

}

.rect {
    background-color: rgb(3, 3, 24);
    width: 900px;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px 10px solid rgb(243, 24, 90);
    box-shadow: 5px 5px 100px 100px rgb(243, 24, 90);

}

#title {
    border: 2px solid rgb(243, 24, 90);
    border-radius: 5px;
    margin: 40px;
    background-color: rgb(27, 12, 94);
    width:700px;
    display:flex;
    justify-content: left;
    color:rgb(191, 190, 243);
    font-size: larger;
    text-shadow: 1px 1px 2px rgb(27, 12, 94);
    padding:20px;
    font-weight:lighter;
    font-size: 3em;
    
}
.survey{
    width:700px;
    display:flex;
    flex-direction: column;
    align-items: left;
}
.inputText{
    height: 80px;
    margin-left:0;
    margin-right:0;
    border: 1px solid rgb(243, 24, 90);
    color:rgb(191, 190, 243);
    background-color: rgb(27, 12, 94);
    border-radius: 5px;
    padding: 5px;
    font-weight:bold;
    width: 700px;
    margin-bottom: 24px;
}

form {
    background-color: rgb(3, 3, 24);
}
.labels{
    color:rgb(243, 24, 90);
    padding:5px;
    font-weight: lighter;
}